<ion-view>
  <ion-nav-title>
    <span style="font-size:1.5rem">Contact Info</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="csc.firstName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="csc.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="Phone Number" ng-model="csc.phone">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="csc.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Food Allergies</span>
        <input type="text" placeholder="Food Allergies" ng-model="foodAllergies">
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="csc.updateUser(csc.firstName, csc.lastName, csc.phone, csc.email)" ui-sref="customer.settings">SAVE</button>
  </ion-content>
</ion-view>
