<ion-view title="Profile" hide-nav-bar="true">
  <ion-content overflow-scroll="true">
<div class="item item-image">
  <ion-header-bar id="profileBarHeader" align-title="left" class="bar-transparent">
    <button id="backButtonRestProfile" menu-toggle="left" class="button button-clear icon ion-navicon">
    </button>
  </ion-header-bar>
  <img id='resProfileImage' src="http://www.bradhoen.com/images/logos/logo-j-dawgs-2.jpeg">
</div>
<span id="restaurantProfileDescription" class="item item-avatar item-icon-right">
  <img src="http://provorestaurantreviews.files.wordpress.com/2010/09/j-dawg.png">
  <h2 id="restaTitleInDesc">{{rpc.restaurantObj.restaurantName}}</h2>
    <p id="restaDescInDesc">{{rpc.restaurantObj.shortDescription}}</p>
    <p id="restaDescInDesc">{{rpc.restaurantObj.addressLineOne}}, {{rpc.restaurantObj.city}}, {{rpc.restaurantObj.state}}, {{rpc.restaurantObj.zipcode}}</p>
  <i id="timeOnRestaurantProfile" class="icon ion-ios-clock-outline"><span id="timerNumberRestaProfile">45</span></i>
</span>
<div id="resQWaitingList" class="item row">
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-telephone-outline"></button>
    <div>CALL</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-wineglass-outline"></button>
    <div>MENU</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-world-outline"></button>
    <div>WEBSITE</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-list-outline" ng-click="rpc.showOnClick(true)"></button>
    <div>INFO</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-time-outline " ng-click="rpc.showOnClick(false)"></button>
    <div>HOURS</div>
  </div>
</div>

<div id="restProfileBodyBox"class="item text-center item-text-wrap" ng-show="rpc.infoHoursToggle">
  <p>{{rpc.restaurantObj.description}}</p>
</div>
<div id="restProfileBodyBox" class="item col text-center item-text-wrap" ng-hide="rpc.infoHoursToggle">
  <pre id="restProfileHoursBox">
    <span id="dayOfTheWeekInResta">MON</span>: Open: {{rpc.restaurantObj.hours.monday.openTime}}AM, Close: {{rpc.restaurantObj.hours.monday.closeTime}}PM

    <span id="dayOfTheWeekInResta">TUE</span>: Open: {{rpc.restaurantObj.hours.tuesday.openTime}}AM, Close: {{rpc.restaurantObj.hours.tuesday.closeTime}}PM

    <span id="dayOfTheWeekInResta">WED</span>: Open: {{rpc.restaurantObj.hours.wednesday.openTime}}AM, Close: {{rpc.restaurantObj.hours.wednesday.closeTime}}PM

    <span id="dayOfTheWeekInResta">THU</span>: Open: {{rpc.restaurantObj.hours.thursday.openTime}}AM, Close: {{rpc.restaurantObj.hours.thursday.closeTime}}PM

    <span id="dayOfTheWeekInResta">FRI</span>: Open: {{rpc.restaurantObj.hours.friday.openTime}}AM, Close: {{rpc.restaurantObj.hours.friday.closeTime}}PM

    <span id="dayOfTheWeekInResta">SAT</span>: open: {{rpc.restaurantObj.hours.saturday.openTime}}AM, Close: {{rpc.restaurantObj.hours.saturday.closeTime}}PM

    <span id="dayOfTheWeekInResta">SUN</span>: open: {{rpc.restaurantObj.hours.sunday.openTime}}AM, Close: {{rpc.restaurantObj.hours.sunday.closeTime}}PM
  </pre>

</div>

</ion-content>
</ion-view>
