<ion-view title="Profile" hide-nav-bar="true">
  <ion-content overflow-scroll="true">
<div class="item item-image">
  <ion-header-bar id="profileBarHeader" align-title="left" class="bar-transparent">
    <button id="backButtonRestProfile" class="button button-clear icon ion-ios-arrow-back" ng-click="crc.goBack()">
    </button>
  </ion-header-bar>
  <img id='resProfileImage' src="http://www.bradhoen.com/images/logos/logo-j-dawgs-2.jpeg">
</div>
<span id="restaurantProfileDescription" class="item item-avatar item-icon-right">
  <img src="http://provorestaurantreviews.files.wordpress.com/2010/09/j-dawg.png">
  <h2 id="restaTitleInDesc">{{crc.restaurantObj.restaurantName}}</h2>
    <p id="restaDescInDesc">{{crc.restaurantObj.shortDescription}}</p>
    <p id="restaDescInDesc">{{crc.restaurantObj.addressLineOne}}, {{crc.restaurantObj.city}}, {{crc.restaurantObj.state}}, {{crc.restaurantObj.zipcode}}</p>
  <i id="timeOnRestaurantProfile" class="icon ion-ios-clock-outline"><span id="timerNumberRestaProfile">45</span></i>
</span>
<div id="resQWaitingList" class="item row">
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-telephone-outline"></button>
    <div>CALL</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-wineglass-outline"></button>
    <div>MENU</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-world-outline"></button>
    <div>WEBSITE</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-list-outline" ng-click="crc.showOnClick(true)"></button>
    <div>INFO</div>
  </div>
  <div class="col text-center">
    <button id="restProfileLinks" class="button button-icon icon ion-ios-time-outline " ng-click="crc.showOnClick(false)"></button>
    <div>HOURS</div>
  </div>
</div>

<div id="restProfileBodyBox"class="item text-center item-text-wrap" ng-show="crc.infoHoursToggle">
  <p>{{crc.restaurantObj.description}}</p>
</div>
<div id="restProfileBodyBox" class="item col text-center" ng-hide="crc.infoHoursToggle">
  <li class="col" >
    monday: open: {{crc.restaurantObj.hours.monday.openTime}}AM, close: {{crc.restaurantObj.hours.monday.closeTime}}PM
  </li>
  <li class="col">
    tuesday: open: {{crc.restaurantObj.hours.tuesday.openTime}}AM, close: {{crc.restaurantObj.hours.tuesday.closeTime}}PM
  </li>
  <li class="col">
    wednesday: open: {{crc.restaurantObj.hours.wednesday.openTime}}AM, close: {{crc.restaurantObj.hours.wednesday.closeTime}}PM
  </li>
  <li class="col">
    thursday: open: {{crc.restaurantObj.hours.thursday.openTime}}AM, close: {{crc.restaurantObj.hours.thursday.closeTime}}PM
  </li>
  <li class="col">
    friday: open: {{crc.restaurantObj.hours.friday.openTime}}AM, close: {{crc.restaurantObj.hours.friday.closeTime}}PM
  </li>
    <li class="col">
    saturday: open: {{crc.restaurantObj.hours.saturday.openTime}}AM, close: {{crc.restaurantObj.hours.saturday.closeTime}}PM
  </li>
    <li class="col">
    sunday: open: {{crc.restaurantObj.hours.sunday.openTime}}AM, close: {{crc.restaurantObj.hours.sunday.closeTime}}PM
  </li>
</div>

</ion-content>
</ion-view>
<div class="bar bar-footer">
  <button id='buttonOnRestProfile' class="button button-block button-icon button-positive">
    Enter line
    </button>
</div>
