<ion-view view-title="Customer Registration">
  <ion-content class="padding bg customer-reg">

    <div class="loginRegHeader">
      <!-- <h1>Waitr.</h1> -->
      <img id="resgisterLogo"src="./img/logo.svg" alt="" />
      <br><br>
        <h4>Customer Registration</h4>
    </div>

    <form ng-submit="regCtrl.register(cust)">
      <div class="list list-inset loginReg" style="width: 48%; float: left;">
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="First name" ng-model="cust.firstName"  autofocus="true">
        </label>
      </div>

      <div class="list list-inset loginReg" style="width: 48%; float: right;">
        <label class="item item-input">
          <!-- <i class="icon ion-locked placeholder-icon"></i> -->
          <input type="text" placeholder="Last name" ng-model="cust.lastName">
        </label>
      </div>

      <div class="list list-inset loginReg" style="clear: both;">
        <label class="item item-input">
          <i class="icon ion-ios-email placeholder-icon"></i>
          <input type="email" placeholder="Email" autocapitalize="none" ng-model="cust.email">
        </label>
      </div>

      <div class="list list-inset loginReg">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" autocapitalize="none" ng-model="cust.password">
        </label>
      </div>

      <div class="list list-inset loginReg">
        <label class="item item-input">
          <i class="icon ion-ios-telephone placeholder-icon"></i>
          <input type="tel" placeholder="Phone" ng-model="cust.phone">
        </label>
      </div>

      <button type="submit" class="button button-block button-energized" style="font-size: 20px; font-weight: 700;">
        SIGN UP
      </button>
    </form>

  </ion-content>
  <div class="bar bar-footer bar-clear" style="height: 80px;">
    <div class="loginRegFooter">
      <a ui-sref="login">Already have an account? Sign In.</a><br>
      <a ui-sref="restaurant-sign-up">Register a restaurant.</a>
    </div>
  </div>
</ion-view>
