<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-plus-round" ui-sref="restaurant.addPerson"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span style="font-size:1.5rem">Wait List</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search.lastName">
      </label>
      <div id="resQWaitingList" class="item row">
        <div class="col col-40">Name</div>
        <div class="col text-center">Waiting</div>
        <div class="col text-center">Quoted</div>
        <div class="col text-center">Size</div>
      </div>
      <div class="item row" ng-repeat="entry in rhc.customerEntries.list | filter : search" ui-sref="restaurant.editPerson({person:entry._id, waitlist: rhc.customerEntries._id})">
        <div class="col col-40">{{entry.lastName}}</div>
        <time am-time-ago="entry.timeAdded" class="col text-center" >{{entry.timeAdded}}</time>
        <div class="col text-center">{{entry.quotedTimeGiven}}m</div>
        <div class="col text-center">{{entry.partySize}}</div>
      </div>
    </div>
  </ion-content>
    <ion-footer-bar class="bar-energized" ng-click="rhc.showWaitTimeModal(rhc.customerEntries.quotedTime)">
        <h2 class="title">Wait Time: {{rhc.customerEntries.quotedTime}} mins&nbsp;<i class="ion-compose"></i></h2>

    </ion-footer-bar>
</ion-view>
