<ion-view>
    <ion-nav-buttons side="right">
        <button id="saveButton" class="button button-energized" ng-click="rec.submitEditedEntry(rec.person)">Save</button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h1 class="title" style="font-size:1.5rem">Edit Person</h1>
    </ion-nav-title>
    <ion-content class="formContainer">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="rec.person.firstName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="rec.person.lastName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Party size</span>
            <input type="tel" placeholder="Party size" ng-model="rec.person.partySize">
          </label> 
          <label class="item item-input item-floating-label">
            <span class="input-label">Phone number</span>
            <input type="tel" placeholder="Phone number" ng-model="rec.person.phoneNumber">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Notes</span>
            <input type="text" placeholder="Notes" ng-model="rec.person.notes">
          </label>
        </div>
        <button class="formButton button button-large button-energized">Notification</button>
        <button class="formButton button button-large button-energized" ng-click="rec.showCheckInPopup()">Check In</button>
        <button class="formButton button button-outline button-large button-energized" ng-click="rec.showRemovePopup()">Remove</button>
    </ion-content>
</ion-view>