<ion-view>
    <ion-nav-title>
        <span style="font-size:1.5rem">Add Person</span>
    </ion-nav-title>
    <ion-content class="formContainer">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="newPerson.firstName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="newPerson.lastName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Party size</span>
            <input type="tel" placeholder="Party size" ng-model="newPerson.partySize">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Phone number</span>
            <input type="tel" placeholder="Phone number" ng-model="newPerson.phone">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Notes</span>
            <input type="text" placeholder="Notes" ng-model="newPerson.notes">
          </label>
        </div>
        <button class="formButton button button-large button-energized" ng-click="rhc.addPersonToQ(newPerson)">Submit</button>

    </ion-content>
</ion-view>
