<div class="padding bar bar-header bar-energized">
  <h2 class="title">Add Item</h2>
</div>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Item Name</span>
    <input type="text" placeholder="Item Name" ng-model="remc.newMenuItem.item">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Item Price</span>
    <input type="text" placeholder="Item Price" ng-model="remc.newMenuItem.price">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Item Description</span>
    <input type="text" placeholder="Item Description" ng-model="remc.newMenuItem.desc">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Section
    </div>
    <select ng-model="remc.newMenuItem.section">
      <option value="">SELECT ONE</option>
      <option ng-repeat="(key, value) in remc.groupedMenu" value="{{key}}">{{key}}</option>
      <option value="new">Add new</option>
    </select>
  </label>
  <label ng-if="remc.newMenuItem.section === 'new'" class="item item-input item-floating-label">
    <span class="input-label">New Section Name</span>
    <input type="text" placeholder="Add New Section" ng-model="remc.newSection">
  </label>
</div>