<ion-view>
  <ion-nav-title>
    <span style="font-size:1.3rem">MENU</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <!-- <h6>ADD ITEM</h6> -->
    <a menu-toggle="right" ui-sref="restaurant.addMenuItem">
      <i class="button icon ion-plus-round"></i>
    </a>
  </ion-nav-buttons>
  <div class="padding bar bar-subheader bar-dark">
    <h2 class="title">{{remc.restaurant.restaurantName}}</h2>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <div ng-repeat="(key, value) in remc.groupedMenu">
        <ion-item class="item-stable" ng-click="remc.toggleSection(key)">
          <i class="icon ion-ios-arrow-forward" ng-show="remc.menuTitle !== key"></i>
          <i class="icon ion-ios-arrow-down" ng-show="remc.menuTitle === key"></i> &nbsp; {{key}}
        </ion-item>
        <ion-item ng-show="remc.menuTitle === key" class="item-accordion">
          <div ng-repeat="item in value">
            <h3>
              <i class="ion-compose"></i>
              &nbsp; {{item.item}}
              &nbsp; <i class="ion-ios-trash-outline" ng-click="remc.deleteItem(item)"></i>
            </h3> <span>${{item.price}}</span>
            <p style="text-align:justify">{{item.desc}}</p>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

</ion-view>
