<ion-pane>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="firstName" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" ng-model="lastName">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" ng-model="phone">Phone Number</span>
        <input type="text" placeholder="Phone Number">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" ng-model="email">Email</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" ng-model="foodAllergies">Food Allergies</span>
        <textarea placeholder="Food Allergies"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="date">
      </label>
    </div>
  </ion-content>
</ion-pane>



