<ion-view>
  <ion-nav-title>
    <span style="font-size:1.5rem">Contacts</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" ng-model="rsc.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Short Description</span>
        <input type="text" placeholder="Short Description" ng-model="rsc.city">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <textarea placeholder="Description"></textarea>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Food Type</span>
        <input type="text" placeholder="Food Type" ng-model="rsc.state">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Header Image</span>
        <input type="text" placeholder="Header Image" ng-model="rsc.zip">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Logo</span>
        <input type="text" placeholder="Logo" ng-model="rsc.zip">
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="rsc.updateRestaurant(rsc.address, csc.city, csc.state, csc.email)" ui-sref="customer.settings">SAVE</button>
  </ion-content>
</ion-view>
