<ion-view>
    <ion-nav-title >
        <span style="font-size:1.3rem">{{rsc.restaurant.restaurantName}}</span> 
    </ion-nav-title>
    <div class="padding bar bar-subheader bar-dark">
        <h2 class="title">MENU</h2>
        <!--<span style="font-size:1.5rem">{{rsc.restaurant.restaurantName}}</span>-->
    </div>
    <ion-content class="has-subheader">
        <ion-list>
            <div ng-repeat="(key, value) in rsc.groupedMenu">
                <ion-item class="item-stable" 
                ng-click="rsc.toggleSection(key)">
                    <i class="icon ion-ios-arrow-forward" ng-show="rsc.menuTitle === null"></i>
                    <i class="icon ion-ios-arrow-down" ng-show="rsc.menuTitle === key"></i>
                    &nbsp;
                    {{key}}
                </ion-item>
                <ion-item ng-show="rsc.menuTitle === key" class="item-accordion">
                <div ng-repeat="item in value">
                    <h4 style="text-align:center">{{item.item}}</h4>
                    <p style="text-align:justify">{{item.desc}}</p>
                    <p style="text-align:center">${{item.price}}</p>
                </div>
                </ion-item>
            </div>
        <button class="button button-full button-positive" ng-click="rsc.updateRestaurant(rsc.address, csc.city, csc.state, csc.email)" ui-sref="customer.settings">SAVE</button>
    </ion-content>

</ion-view>
        
