<ion-view>
  <ion-nav-title>
    <span style="font-size:1.5rem">Information</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Short Description</span>
        <input type="text" placeholder="Short Description" ng-model="rsc.restaurant.shortDescription">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description" ng-model="rsc.restaurant.description">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Food Type</span>
        <input type="text" placeholder="Food Type" ng-model="rsc.restaurant.foodType">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Header Image</span>
        <input type="text" placeholder="Header Image" ng-model="rsc.restaurant.restaurantImage">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Logo</span>
        <input type="text" placeholder="Logo" ng-model="rsc.restaurant.restaurantIcon">
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="rsc.updateRestaurant(rsc.restaurant)" ui-sref="restaurant.settings">SAVE</button>
  </ion-content>
</ion-view>