<ion-view>
  <ion-nav-title>
    <span style="font-size:1.3rem">{{cmc.restaurant.restaurantName}}</span>
  </ion-nav-title>
  <div class="padding bar bar-subheader bar-dark">
    <h2 class="title">MENU</h2>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <div ng-repeat="(key, value) in cmc.groupedMenu">
        <ion-item class="item-stable" ng-click="cmc.toggleSection(key)">
          <i class="icon ion-ios-arrow-forward" ng-show="cmc.menuTitle !== key"></i>
          <i class="icon ion-ios-arrow-down" ng-show="cmc.menuTitle === key"></i> &nbsp; {{key}}
        </ion-item>
        <ion-item ng-show="cmc.menuTitle === key" class="item-accordion">
          <div ng-repeat="item in value">
            <h3>{{item.item}}</h3> <span>${{item.price}}</span>
            <p>{{item.desc}}</p>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

</ion-view>