/* Empty. Add your own CSS if you like */
#resQWaitingList {
font-weight: bold;
color: orange;
font-size: 90%;
}
.bar-energized {
  background-color: orange !important;
}

#resProfileImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  z-index: 0;
}
#restaurantProfileDescription {
  position: relative;
  margin-top: -5px;
  background-color: orange;
}
.sizeOfCardOnRestProfile{
  height: 26vh;
  overflow: scroll;
}
#buttonOnRestProfile {
  position: relative;
  height: 40px;
  margin-top: -3px;
  background-color: rgb(32, 120, 223) !important;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}
#profileBarHeader {
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
  border-bottom: none;
  background-color: transparent;
}
#backButtonRestProfile {
 color: rgb(134, 134, 134);
 display: inline-block;'
}
#restaTitleInDesc{
  color: white;
  font-size: 1em;
}
#restaDescInDesc {
  color: white;
  font-size: 0.7em;
}
#timeOnRestaurantProfile {
  color: white;
}
#restProfileLinks {
  color: orange;
}
.formButton {
    font-weight: 600;
    font-size: 200%;
    display: block;
    width: 80vw;
    margin: auto;
    margin-bottom: 15px;
}
.formContainer {
    margin-left: 10px;
    margin-right: 10px;
}
#saveButton {
    color: black;
    border: none;
    background-color: transparent;
    font-size: 125%;
}
.button-outline {
    border-width: 2px;
}
#restItem {
  border-width: 0px;
  border-bottom: 1px solid #ddd;
}
#restList {
  margin-bottom: 0px;
}
#menuItem {
  border-style: none;
}
#menuItemFooter {
  border-style: none;
  margin-top: -30px;
}
#timerNumberRestaProfile {
    font-size: 0.7em;
}
#restProfileBodyBox{
  border: 0px;
  text-align: justify;
  border-bottom: none;
  border-bottom-color: transparent;
}
#restProfileHoursBox {
  padding-bottom: 55px;
  width: 80vw;
}
#dayOfTheWeekInResta {
 font-weight: bold;
 letter-spacing: 1px;

}
#waitList {
  padding-bottom: 0;
  margin-bottom: 0;
}
