/* Empty. Add your own CSS if you like */
#resQWaitingList {
font-weight: bold;
color: gray;
font-size: 90%;
}
.bar-energized {
  background-color:orange !important;
}
.button-energized {
  background-color:orange !important;
}
#editPersonRemoveButton {
  color: orange;
  border-color: orange;
}

#resProfileImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  z-index: 0;
}
#restaurantProfileDescription {
  position: relative;
  margin-top: -5px;
  background-color: orange;
}
.sizeOfCardOnRestProfile{
  height: 26vh;
  overflow: scroll;
}
#buttonOnRestProfile {
  position: relative;
  height: 40px;
  margin-top: -3px;
  background-color: orange !important;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}
#profileBarHeader {
  border: 0px;
  border-bottom-color: transparent;
  background-image: none;
  border-bottom: none;
  background-color: transparent;
}
#backButtonRestProfile {
 color: rgb(134, 134, 134);
 display: inline-block;'
}
#restaTitleInDesc{
  color: white;
  font-size: 1em;
}
#restaDescInDesc {
  color: white;
  font-size: 0.7em;
}
#custHomeRestList {
  font-size: 0.8em;
}
#timeOnRestaurantProfile {
  color: white;
}
#restProfileLinks {
  color: orange;
}
#restProfileLinkText {
  color: gray;
}
.formButton {
    font-weight: 600;
    font-size: 200%;
    display: block;
    width: 80vw;
    margin: auto;
    margin-bottom: 15px;
}
.formContainer {
    margin-left: 10px;
    margin-right: 10px;
}
#saveButton {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 125%;
}
.button-outline {
    border-width: 2px;
}
#restItem {
  border-width: 0px;
  border-bottom: 1px solid #ddd;
}
#restList {
  margin-bottom: 0px;
}
#menuItem {
  border-style: none;
}
#menuItemFooter {
  border-style: none;
}
#menuItemFooter .item-content {
  padding: 8px 0 0 12px;
}
#timerNumberRestaProfile {
    font-size: 1.3rem;
}
#timerNumberCustomerHome {
  font-size: 1.5rem;
  color: lightgrey;
}
#restProfileBodyBox{
  border: 0px;
  text-align: justify;
  border-bottom: none;
  border-bottom-color: transparent;
}
#restProfileHoursBox {
  padding-bottom: 55px;
  width: 80vw;
}
#dayOfTheWeekInResta {
 font-weight: bold;
 letter-spacing: 1px;

}
#waitList {
  padding-bottom: 0;
  margin-bottom: 0;
}

.user {
    color: teal;
    background-color: #ecf0f1;
}

/***** LOGIN & REGISTRATION  ***********************************************/
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lusitana', serif;
}
.login {
  background-image: url(../img/login.png);
}
.customer-reg {
  background-image: url(../img/customer_reg.png);
}
.restaurant-reg {
  background-image: url(../img/restaurant_reg.png);
}

.loginRegHeader {
	text-align: center;
  padding-top: 50px;
}
.loginRegHeader h1 {
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 3.8em;
  color: #222222;
}
.loginRegHeader h4 {
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #222222;
  margin-top: -20px;
}
.loginRegHeader h6 {
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #222222;
  margin-top: -20px;
}
.loginReg {
  background-color: transparent;
}
.loginReg label {
  background-color: rgba(0,0,0,.4); border: none; border-radius: 5px;
}
.loginReg i {
  color: white;
  font-size: 1.3em;
}
.loginReg input {
  color: white;
  font-size: 18px;
  padding-left: 10px;
}
.loginReg button {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.loginRegFooter {
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}
.loginRegFooter a {
  text-decoration: none;
  color: #222222;
  font-size: 1.2em;
  font-family: 'Lusitana', serif;
  font-weight: 700;
}

div.loginReg label {
  position: relative;
}
div.loginReg label .ion-close {
  position: absolute;
  top: 8px;
  right: 12px;
	font-size: 1.3em;
	color: #999999;
  z-index: 1000;
}

/****Restaurant Menus*****/
.list .item.item-accordion {
    white-space: normal;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
      transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
     line-height: 0px;
}
.list .item.item-accordion h3 {
    /*vertical-align: middle;*/
    float: left;
    padding-top: 10px;
}
.list .item.item-accordion span {
    float: right;
}
.list .item.item-accordion p {
    clear: both;
    text-align:justify;
}
/*Resaurant Edit Menus*/
.title .button{
    font-size: 2rem;
    margin-top: 5px;
}
.back-button > .back-text > .default-title {
    display:none;
}
.back-button > .back-text > .previous-title {
    display:none;
}
#loginLogo {
  max-width: 45vw;
}
#resgisterLogo {
  max-width: 30vw;
}
#sideMenuLogo {
  max-width: 40px;
}
#RegistrationContent {
  top: -50px;
}
/****Nav Icons*****/
.navLine {
}
i.navIcon {
  font-size: 1.6em;
  vertical-align: middle;
}
span.navTitle {
  vertical-align: middle;
  font-size: 1.1em;
  padding-left: 5px;
}


i.button {
  background-color: orange !important;
}
