/* Empty. Add your own CSS if you like */
#resQWaitingList {
font-weight: bold;
color: orange;
font-size: 90%;
}
.bar-energized {
  background-color: orange !important;
}
#resProfileImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}
.formButton {
    font-weight: 600;
    font-size: 200%;
    text-transform: uppercase;
    display: block;
    width: 60vw;
    margin: auto;
}
.formContainer {
    margin-left: 10px;
    margin-right: 10px;
}
#restItem {
  border-width: 0px;
  border-bottom: 1px solid #ddd;
}
#restList {
  margin-bottom: 0px;
}
